:root {
  --navbarHeight: 100px;
  --carouselHeight: 500px;
}

body {
  font-family: sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: #fff;
}

.carousel {
  height: var(--carouselHeight);
}

.carousel-content {
  height: var(--carouselHeight);
}

.carousel-content > img {
  object-fit: cover;
  height: var(--carouselHeight);
}

.content {
  margin: 0 auto;
  background: #eee;
  padding: 2em;
  min-height: 100vh;
}

.contentBlock {
  display: flex;
  clear: both;
  border-bottom: 1px solid #333;
}

.contentBlock > img {
  display: flex;
  margin: 1em;
  width: 100%;
}

.contentBlock:nth-child(odd) {
  flex-direction: row;
}
.contentBlock:nth-child(even) {
  flex-direction: row-reverse;
}
.contentBlock p {
  display: flex;
  text-align: justify;
  width: 100%;
  clear: both;
}

.separator {
  border: 3px solid #ccd;
  clear: both;
  margin: 1em;
}

.socialmedia {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.symbol {
  display: flex;
  position: absolute;
  height: 0;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  clear: both;
}

.symbol > div {
  color: rgba(0,0,0,0.6);
  margin-top: -0.9em;
  font-size: 2em;
  background: #eee;
  padding: 10px;
}

* {
  /* border: 1px dashed rgba(255,0,0,0.2); */
  box-sizing: border-box;
}

.title {
  display: block;
  position: absolute;
  top: 2em;
  left: 40%;
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
}



#logo {
  height: var(--navbarHeight);
  margin-right: 25px;
}

#Navlinks {
  display: block;
  top: 0%;
}

.top-menu{
  display: block;
  height: 500px;
}

.inline-List>li {
  display: inline-block;
  margin: 0px 10px;
}

#submenu {
  width: 100%;
  padding: 10px 10px;
  color: aliceblue;
  background-color: rgb(32, 31, 46);
  display: block;
}

#submenu >ul{
  list-style-type: circle;
  text-align: center;
}

#submenu li:before {
  content:'\2666';
  color: rgb(184, 156, 85);
  font-size: 0.7em;
  }

#submenu li {
  display: inline-block;
  margin: 0px 10px;
}

.navbar {
  top              : 0;
  height           : var(--navbarHeight);
  width            : 100%;
  padding          : 0.9em 0;
  box-shadow       : 0 0.3em 0 var(--dropShadow);
  z-index          : 3;
}

.navbar>ul {
  display          : grid;
}

.navbar>ul>li {
  text-align       : center;
}

.navbar ul {
  list-style-type: none;
  text-transform: uppercase;
  clear: both;
  margin-top: 0;

  /* This was breaking the positioning-
  not sure if this is best way to fix, but... */
  margin-before: 0;
  margin-after: 0;
  padding-start: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-padding-start: 0;
  -o-margin-before: 0;
  -o-margin-after: 0;
  -o-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.navlink {
  line-height      : 3em;
  height           : 2.8em;
}

@media only screen and (max-width:500px) {
  .navlink {
    display        : none;
  }
}

